doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title DONOR
  style.
          body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
          }

          h1 {
            text-align: center;
            color: #d9534f;
          }

          ol {
            list-style-type: none;
            padding: 0;
            margin: 20px;
          }

          li {
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
          }

          p {
            margin: 5px 0;}
  body
    h1  DONORS
    ol
      each value in donor
        li
          p  #{value.DONOR_ID}
          p NAME: #{value.DONOR_NAME}
          p DATE OF BIRTH: #{value.DOB}
          p CONTACT NUMBER: #{value.CONTACT_NUMBER}